<div class="container border my-5">
    <h2 class="text-center my-4">Incoming Hospital Requests</h2>
    <div class="table-responsive">
      <table class="table table-striped table-sm border">
        <thead>
          <tr>
            <th scope="col">Code</th>
            <th scope="col">Hospital Name</th>
            <th scope="col">Request Date</th>
            <th scope="col">Patient Name</th>
            <th scope="col" class="text-center">Review</th>
            <th scope="col" class="text-center">Request Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>123</td>
            <td>Name</td>
            <td>Date</td>
            <td>ABC</td>
            <td class="text-center">
              <a href="#hosp1"
                ><button class="btn-hr btn-main-2 btn-round-full">
                  Review Report
                </button></a
              >
            </td>
            <td class="text-center">
              <a href="#"
                ><button
                  class="btn-rs btn-success btn-round-full
                  style="width: fit-content"
                >
                  Accepted
                </button></a
              >
            </td>
          </tr>
          <tr>
            <td>123</td>
            <td>Name</td>
            <td>Date</td>
            <td>ABC</td>
            <td class="text-center">
              <a href="#hosp1"
                ><button class="btn-hr btn-main-2 btn-round-full">
                  Review Report
                </button></a
              >
            </td>
            <td class="text-center">
              <a href="#"
                ><button class="btn-rs btn-danger btn-round-full" style="width: fit-content">
                  Declined
                </button></a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="container border my-5">
    <h2 class="text-center my-4">Outgoing Hospital Requests</h2>
    <div class="table-responsive">
      <table class="table table-striped table-sm border">
        <thead>
          <tr>
            <th scope="col">Code</th>
            <th scope="col">Hospital Name</th>
            <th scope="col">Request Date</th>
            <th scope="col">Patient Name</th>
            <th scope="col" class="text-center">Review</th>
            <th scope="col" class="text-center">Request Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>123</td>
            <td>Name</td>
            <td>Date</td>
            <td>ABC</td>
            <td class="text-center">
              <a href="#hosp1"
                ><button class="btn-hr btn-main-2 btn-round-full">
                  Review Report
                </button></a
              >
            </td>
            <td class="text-center">
              <a href="#"
                ><button class="btn-rs btn-success btn-round-full" style="width: fit-content">
                  Accepted
                </button></a
              >
            </td>
          </tr>
          <tr>
            <td>123</td>
            <td>Name</td>
            <td>Date</td>
            <td>ABC</td>
            <td class="text-center">
              <a href="#hosp1"
                ><button class="btn-hr btn-main-2 btn-round-full">
                  Review Report
                </button></a
              >
            </td>
            <td class="text-center">
              <a href="#"
                ><button class="btn-rs btn-danger btn-round-full" style="width: fit-content">
                  Declined
                </button></a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>